# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# next.js (frontend)
/frontend/.next/
/frontend/out/
/frontend/build

# backend logs
/backend/*.log

# env files
.env*
/backend/.env*
/frontend/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
